[submodule "stable-coin-java-hcs"]
	path = stable-coin-java-hcs
	url = https://github.com/hashgraph/hedera-stable-coin.git
[submodule "stable-coin-solidity-ethereum"]
	path = stable-coin-solidity-ethereum
	url = https://github.com/hashgraph/hedera-stable-coin-solidity-ethereum.git
