# gradle project-specific cache directory
.gradle/

# gradle build output directory
build/

# editor files: intellij
.idea/

# editor files: vscode
bin/
.classpath
.settings
.project
.vscode/

# local environment
.env

# jOOQ: generated code
#src/main/java/com/hedera/hashgraph/stablecoin/platform/db/
