.HederaIcon {
    background: #6f70d5;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.HederaIcon img {
    width: 24px;
    height: 24px;
}
